# This file is part of ihist
# Copyright 2025 Board of Regents of the University of Wisconsin System
# SPDX-License-Identifier: MIT

/dependencies/

# Sometimes left behind by Meson
.wraplock

__pycache__/
/build/
/dist/
/wheelhouse/

/java/target/

/coverage/
