# This file is part of ihist
# Copyright 2025 Board of Regents of the University of Wisconsin System
# SPDX-License-Identifier: MIT

name: CI

on:
  push: # All branches during early development

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - uses: pre-commit/action@v3.0.1

  test:
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-24.04
          - windows-2025
          - macos-15-intel
          - macos-15
        compiler:
          - platform
          - clang
        exclude:
          - runner: macos-15-intel
            compiler: clang  # Redundant with platform
          - runner: macos-15
            compiler: clang  # Redundant with platform
          - runner: ubuntu-24.04
            compiler: platform  # g++ currently has problems with oneTBB build
          - runner: windows-2025
            compiler: platform  # CMake problem(?) in oneTBB build with 'cl'
        include:
          - runner: ubuntu-24.04
            compiler: clang
            cxx: clang++
          - runner: windows-2025
            compiler: clang
            cxx: clang-cl
            opts: -Dgoogle-benchmark:werror=false
          - runner: macos-15-intel
            cxx: clang++
          - runner: macos-15
            cxx: clang++
    name: cpp-test-${{ matrix.runner }}-${{ matrix.cxx }}
    runs-on: ${{ matrix.runner }}
    env:
      CXX: ${{ matrix.cxx }}
      MACOSX_DEPLOYMENT_TARGET: 12.0
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - name: Install tools
        run: |
          uv tool install rust-just
      - name: Install dependencies - macOS
        if: startsWith(matrix.runner, 'macos-')
        run: |
          brew install tbb opencv
      - name: Install dependencies - Ubuntu
        if: startsWith(matrix.runner, 'ubuntu-')
        run: |
          sudo apt-get update
          sudo apt-get install libtbb-dev libopencv-dev
      - name: Install dependencies (Windows)
        if: startsWith(matrix.runner, 'windows-')
        uses: MinoruSekine/setup-scoop@v4.0.2
        with:
          apps: pkg-config opencv
      - name: Build and test
        shell: bash
        run: |
          just build  # Make sure benchmarks build, too
          just test

  test-no-tbb:
    name: cpp-test-no-tbb-ubuntu
    runs-on: ubuntu-24.04
    env:
      CXX: clang++
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - name: Build and test without TBB
        run: |
          uvx meson setup builddir -Dtbb=disabled
          uvx meson compile -C builddir
          uvx meson test -C builddir

  wheels:
    name: wheels-${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            name: ubuntu-24.04
          - os: windows-2025
            name: windows-2025
          - os: macos-15
            arch: arm64
            deployment_target: "11.0"
            name: macos-15-arm64
          - os: macos-15
            arch: x86_64
            deployment_target: "10.15"
            name: macos-15-x86_64
    steps:
      - uses: actions/checkout@v6
      - name: Install pkg-config (Windows)
        if: startsWith(matrix.os, 'windows-')
        uses: MinoruSekine/setup-scoop@v4.0.2
        with:
          apps: pkg-config
      - uses: pypa/cibuildwheel@v3.3.0
        env:
          CIBW_ENVIRONMENT_LINUX: >-
            TBB_PREFIX=/tmp/tbb
            PKG_CONFIG_PATH=/tmp/tbb/lib/pkgconfig
          CIBW_ENVIRONMENT_MACOS: >-
            MACOSX_DEPLOYMENT_TARGET=${{ matrix.deployment_target }}
            PKG_CONFIG=/opt/homebrew/bin/pkg-config
            TBB_PREFIX=/tmp/tbb
            PKG_CONFIG_PATH=/tmp/tbb/lib/pkgconfig
          CIBW_ENVIRONMENT_WINDOWS: >-
            CXX=clang-cl
            TBB_PREFIX="$RUNNER_TEMP/tbb"
            PKG_CONFIG_PATH="$RUNNER_TEMP/tbb/lib/pkgconfig"
          CIBW_ARCHS_MACOS: ${{ matrix.arch }}
          CIBW_TEST_SKIP: "*-macosx_x86_64"
      - uses: actions/upload-artifact@v6
        with:
          name: wheels-${{ matrix.name }}
          path: wheelhouse/*.whl

  jni:
    name: jars-${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            name: ubuntu-24.04
          - os: windows-2025
            name: windows-2025
          - os: macos-15
            arch_flags: -arch arm64
            deployment_target: "11.0"
            name: macos-15-arm64
          - os: macos-15
            arch_flags: -arch x86_64
            meson_cross_args: --cross-file=scripts/meson-cross-macos-x86_64.txt
            jdk_arch: x86_64
            deployment_target: "10.15"
            name: macos-15-x86_64
    env:
      MACOSX_DEPLOYMENT_TARGET: ${{ matrix.deployment_target }}
      ARCHFLAGS: ${{ matrix.arch_flags }}
      IHIST_MESON_CROSS_ARGS: ${{ matrix.meson_cross_args }}
      CJDK_ARCH: ${{ matrix.jdk_arch }}
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - name: Install bash (macOS)
        # macOS runners have Apple's ancient Bash by default
        if: startsWith(matrix.os, 'macos-')
        run: |
          brew install bash
      - name: Install pkg-config (Windows)
        if: startsWith(matrix.os, 'windows-')
        uses: MinoruSekine/setup-scoop@v4.0.2
        with:
          apps: pkg-config
      - name: Install tools
        run: |
          uv tool install rust-just
      - name: Build and test
        shell: bash
        run: |
          just java-test
      - uses: actions/upload-artifact@v6
        with:
          name: jnilib-${{ matrix.name }}
          path: java/target/ihist-*-natives-*.jar
