# This file is part of ihist
# Copyright 2025 Board of Regents of the University of Wisconsin System
# SPDX-License-Identifier: MIT

name: CI

on:
  push: # All branches during early development

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
      - uses: pre-commit/action@v3.0.1

  test:
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-24.04
          - windows-2025
          - macos-15-intel
          - macos-15
        compiler:
          - platform
          - clang
        exclude:
          - runner: macos-15-intel
            compiler: clang  # Redundant with platform
          - runner: macos-15
            compiler: clang  # Redundant with platform
          - runner: ubuntu-24.04
            compiler: platform  # g++ currently has problems with oneTBB build
          - runner: windows-2025
            compiler: platform  # CMake problem(?) in oneTBB build with 'cl'
        include:
          - runner: ubuntu-24.04
            compiler: clang
            cxx: clang++
          - runner: windows-2025
            compiler: clang
            cxx: clang-cl
            opts: -Dgoogle-benchmark:werror=false
          - runner: macos-15-intel
            cxx: clang++
          - runner: macos-15
            cxx: clang++
    name: cpp-test-${{ matrix.runner }}-${{ matrix.cxx }}
    runs-on: ${{ matrix.runner }}
    env:
      CXX: ${{ matrix.cxx }}
      MACOSX_DEPLOYMENT_TARGET: 12.0
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v6
      - name: Install tools
        run: |
          uv tool install rust-just
          uv tool install meson
          uv tool install ninja
      - name: Install dependencies - macOS
        if: startsWith(matrix.runner, 'macos-')
        run: |
          brew install tbb opencv
      - name: Install dependencies - Ubuntu
        if: startsWith(matrix.runner, 'ubuntu-')
        run: |
          sudo apt-get update
          sudo apt-get install libtbb-dev libopencv-dev
      - name: Install dependencies - Windows
        if: startsWith(matrix.runner, 'windows-')
        run: |
          Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
          scoop install pkg-config opencv
          Add-Content -Path $Env:GITHUB_PATH -Value "$HOME\scoop\shims"
      - name: Build and test
        shell: bash
        run: |
          just build  # Make sure benchmarks build, too
          just test

  test-no-tbb:
    name: cpp-test-no-tbb-ubuntu
    runs-on: ubuntu-24.04
    env:
      CXX: clang++
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v6
      - name: Install tools
        run: |
          uv tool install meson
          uv tool install ninja
      - name: Build and test without TBB
        run: |
          meson setup builddir -Dtbb=disabled
          meson compile -C builddir
          meson test -C builddir
